[2017-10-15 13:43] ritschwumm opened #1 "sources mixing tabs and spaces"
is this on purpose? at least https://github.com/soc/directories/blob/master/src/main/java/io/github/soc/directories/BaseDirectories.java looks quite weird.

[2017-10-16 05:23] soc commented on #1
No, absolutely not. Not sure what happened, will fix it before the next release. Thanks!

[2017-10-17 07:20] soc commented on #1
Fixed in #3.

[2017-10-17 07:20] #1 closed

[2018-03-20 21:15] SackCastellon opened #10 "UserDirectories#{downloadDir,publicDir} not available on Windows"
I printed all the directories from `new ProjectDirectories.from("com", "Foo Corp", "Bar App")`, `BaseDirectories` and `UserDirectories` on Windows 10 and I got the following:
### ProjectDirectories
[code]

### BaseDirectories
[code]

### UserDirectories
[code]
Nearly none of the `UserDirectories` is detected.

**Note:** The Desktop location is correct, I remapped it to a secondary drive

[2018-03-21 05:01] soc commented on #10
Thanks!
I will investigate. Does this problem also appear with version 6?

[2018-03-21 10:16] SackCastellon commented on #10
In version 6 I cannot even access the `BaseDirectories` fields because all of them have _default_ visibility

![image](https://user-images.githubusercontent.com/5330355/37704482-33e5e474-2cf9-11e8-8505-b2c915f2a55b.png)

[2018-03-21 14:23] soc commented on #10
@SackCastellon Ooops, sorry for the suggestion. I forgot that this issue was fixed so late.

Can you run the following PowerShell commands manually and tell me the results on your system?

[code]

This would help identifying the specific issue at hand! Thanks!

[2018-03-21 14:51] SackCastellon commented on #10
![image](https://user-images.githubusercontent.com/5330355/37716830-b59aaf38-2d1f-11e8-881e-491bf13c49d7.png)

[2018-03-21 17:23] soc commented on #10
@SackCastellon Thanks for your help!

Could you have a look at https://github.com/soc/directories-jvm/commit/bfd70a334c9d70f832b6f42cf688d917c5dd7353 and try version 9, which I just published?

Thanks!

[2018-03-21 17:58] SackCastellon commented on #10
Now it works better:
[code]
 But I think there should be some way to retrieve the `Downloads` folder location.

[2018-03-21 20:46] soc commented on #10
I read the .NET source file of the `SpecialFolder` enum, it seems as if the values for `download` and `public` are somehow missing. :-(

[2018-03-22 10:19] soc commented on #10
I filed a bug against .NET in https://github.com/dotnet/corefx/issues/28356.

I'll update the title to reflect that only those two are missing now, and the rest was a bug that was fixed.

[2018-03-22 23:12] soc commented on #10
Fixed in version 10. Thanks!

[2018-03-22 23:12] #10 closed

[2018-03-22 23:15] soc opened #13 "Review change to minimized process spawning"
@SackCastellon Could you have a look at https://github.com/soc/directories-jvm/commit/dfba1eae53b89ef14529b06be3667ef957525c54 and test it on your system to make sure it returns all the results we expect?

I'm a bit concerned about the Linux change, as instead of running `xdg-user-dirs` directly, we are now running `bash` to execute multiple commands. I should probably benchmark this, to make sure

[2018-03-23 17:02] SackCastellon commented on #13
I tested it on _Windows 7_ and _Windows 10_, and it works as expected.
Currently, I am not able to test it on Linux to compare the performance.

[2018-03-23 17:33] soc commented on #13
Thanks, I set up CI for Windows and it looks fine there too.

I think the current state should be fine for shipping, and I'll cut a new release in the evening as benchmarking the changes on Linux is not reliant on that. Even if I changed it back on Linux, it should not be visible to users of the library.

[2018-03-28 19:37] soc opened #14 "Add support for (private) temporary directories"

[2018-03-28 19:38] soc opened #15 "Consider deriving values for ProjectDirectory.from from build definition or manifest file"

[2018-03-31 16:38] soc commented on #15
Upon further consideration, I believe this is not a great idea, as it could cause unnecessary confusion.

The behavior of such a functionality would basically depend on where `ProjectDirectory` was called from, and retrieving the MANIFEST.MF file from the caller's jar file. This means that a simple refactoring could inadvertedly change or break code.

[2018-03-31 16:46] soc commented on #13
It got pointed out to me that the code to access the directory information already exists in https://github.com/dotnet/corefx/blob/afcbd9a5b9e4ecde2db3a69afd093631f1db91c5/src/Common/src/Interop/Windows/shell32/Interop.SHGetKnownFolderPath.cs#L16.

Would it be easier/faster to just call that method?

[2018-03-31 17:19] SackCastellon commented on #13
Maybe, but I am not that familiar with _.NET_ or _C#_ so I don't really know how to implement it.

[2018-04-01 14:54] soc commented on #13
Don't worry, I more or less just added the comment to remind myself to look into it.

[2018-04-18 23:49] SackCastellon opened #16 "Use 'Java Native Access' (JNA) instead of PowerShell tricks?"
I just found [java-native-access/jna](https://github.com/java-native-access/jna) and I think instead of calling the PowerShell we could use [`Shell32Util.getKnownFolderPath(Guid.GUID guid)`](https://java-native-access.github.io/jna/4.2.1/com/sun/jna/platform/win32/Shell32Util.html#getKnownFolderPath-com.sun.jna.platform.win32.Guid.GUID-) together with [`KnownFolders`](https://java-native-access.gi

[2018-04-19 00:04] soc commented on #16
Wouldn't this require shipping multiple DLLs inside the JAR file for whatever platform Windows runs on?

[2018-04-19 01:03] SackCastellon commented on #16
- Yes
- Probably

[2018-04-19 02:32] #15 closed

[2018-10-12 11:18] smarter opened #17 "NPE in ProjectDirectories#fromPath on Windows 8.1"
Hi,

I can't reproduce it myself since I don't have that OS but it seems that ProjectDirectories#fromPath does not always work on Windows 8.1 (background: the Functional Programming class at EPFL has assignments that use scalafix for linting, scalafix uses coursier, coursier uses directories), here's the stack trace from one student:
[code]

[2018-11-28 17:20] alexarchambault opened #19 "Issue with paths when username contains special characters on Windows"
Related to https://github.com/coursier/coursier/issues/904.

On Windows, if the user name contains a special character (e.g. `é`), the directories provided by `ProjectDirectories` seems right (`toString` prints chars that seem correct), but can't be passed to `java.io.File` (the corresponding file / directory doesn't exist). On the other hand, `sys.env("LOCALAPPDATA")` gives a path with an apparen

[2018-11-28 19:34] alexarchambault commented on #19
FYI, I think I managed to find the issue… I'll submit a fix tomorrow I guess.

[2018-11-28 19:44] soc commented on #19
Thanks!

[2018-12-06 15:15] #19 closed

[2019-08-16 11:12] pk960 opened #22 "real modular version"
Hello,
Because I want to use your jar with jlink, having an automatic-module-name isn't enough, a module-info.java file is necessary.
However, it means compiling with java 9, thus droping the java 6 support, except if you create a multi-release jar or use another branch for java 9.
I have found no way with the configured version of sbt, neither to compile a module-info.java file, nor to create a m

[2019-08-16 11:54] soc commented on #16
I'm closing this – my plan is to wait for Project Panama to enable first-class access to native code.

[2019-08-16 11:54] #16 closed

[2019-08-16 11:55] soc commented on #17
Closing, because the issue became stale.
Feel free to reopen with new information.

[2019-08-16 11:55] #17 closed

[2019-08-16 11:59] #13 closed

[2019-08-16 12:02] soc commented on #22
I think creating a multi-release jar might make sense, as the next release I'm targeting is the one in which Project Panama ships.

Question is whether I should just create the module-info.class file locally, commit it and add it to the jar file during the build process, because (as most things in Scala) https://github.com/sbt/sbt-multi-release-jar is pretty much dead and unmaintained.

[2019-08-16 15:50] pk960 commented on #22
Just putting a module-info.class into a jar produced with an earlier version of java seems to be good enough.

According to [https://techbeacon.com/app-dev-testing/legacy-developers-guide-java-9](url), it should work: "The information in module-info.class is only visible when the JVM is looking for it, which means that modularized JAR files are treated like ordinary JAR files when running on older

[2019-08-17 09:11] soc commented on #22
Ok, great, then I'd probably do this.

Though I would do this after I migrated to the organization (I registered `dirs.dev` earlier that I want to use instead of soc.github.io).

[2019-10-03 11:45] tomasjura opened #23 "Solaris is not supported"
Solaris is not supported.

Conseqently sbt 1.3.2 fails with a supprising error `lmcoursier.internal.shaded.coursier.cache.shaded.io.github.soc.directories.UnsupportedOperatingSystemException: directories are not supported on SunOS`

patch necessary (at least) on
io/github/soc/directories/Util.java:33
io/github/soc/directories/UserDirectories.java:305

[2019-10-03 13:00] soc commented on #23
Hi @tomasjura I don't have a Solaris system, but if you would be able to provide a patch, I'd be happy to review and merge it.

[2019-10-09 12:47] #23 closed

[2019-12-02 09:13] lakshmanmallidi opened #25 ""main" java.nio.file.InvalidPathException: Illegal char <:> at index 7: WARNING: (0) : No source files specified\bsp\data"
I am using scala metals library in vscode. I got  error stating as below

`"main" java.nio.file.InvalidPathException: Illegal char <:> at index 7: WARNING: (0) : No source files specified\bsp\data`

In scala metals library we are following this issue in #1085 (https://github.com/scalameta/metals/issues/1085). We came to know the issue is with directories-jvm  as scala metals is using directories-j

[2019-12-03 16:35] soc commented on #25
Hi @lakshmanmallidi, I have started to look into this yesterday – would it be possible for you to run the underlying powershell command on a machine suffering from this issue directly?

This would allow locating the exact layer at which this error occurs.

E.g. open powershell and run:
[code]

After that, could you run the command again with `-IgnoreWarnings` added between `Add-Type` and `@"`? (Th

[2019-12-06 15:07] lakshmanmallidi commented on #25
I am getting below log or error when executing above code in my powershell.

[code]

[2019-12-06 18:12] soc commented on #25
Is `C:\windows\TEMP\krdidrxl.0.cs` a file you created? If not, does the filename change when you run the script again?

[2019-12-13 07:57] lakshmanmallidi commented on #25
I don't created that file and if i run the script again file is changed.
[code]

[2019-12-13 14:26] soc commented on #25
Ok, thanks!

Are there any group policies, virus scanners or other permission restrictions that could interfere with the creation of this file?

Sounds pretty much like `Add-Type` emits a *.cs file for the C# portion of the code, and it fails because it can't place the file were it expects.

[2020-01-02 17:45] eed3si9n opened #26 "On Windows + AdoptOpenJDK 8 232-b09, ProjectDirectories.fromPath returns "null" directories"
This was originally reported as https://github.com/sbt/sbt/issues/5206 On Windows, Coursier creates "./null/Coursier/cache/v1" directories as cache and https://github.com/coursier/coursier/issues/1438

## steps

1. Use Windows.
2. Download the AdoptOpenJDK 8 232-b09 zip file (https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u232-b09/OpenJDK8U-jdk_x86-32_windows_hotspot_8u232

[2020-01-02 17:56] soc commented on #26
@eed3si9n Thanks, I will look into this!

[2020-01-02 18:02] eed3si9n commented on #26
Why not use the environment variable `LOCALAPPDATA`? It seems less scarier than shelling out to powershell.

[2020-01-02 18:04] alexarchambault commented on #26
I've been wondering why we're not using the `LocalAppData` and `AppData` env vars too.

[2020-01-02 18:06] eed3si9n commented on #26
Especially since sbt + Coursier doesn't need "Music" directory.

[2020-01-02 18:07] alexarchambault commented on #26
The powershell stuff seems to be required for `UserDirectories`, possibly less so for `ProjectDirectories`, yes.

[2020-01-02 20:23] soc commented on #26
@eed3si9n @alexarchambault There was a reason why I abandoned that approach, but I don't remember the reason anymore...

[2020-01-03 06:34] eed3si9n commented on #26
If you're ok with JNA here's an implementation from a library that's doing similar things - https://github.com/harawata/appdirs/blob/master/src/main/java/net/harawata/appdirs/impl/ShellFolderResolver.java

[2020-01-03 10:28] alexarchambault commented on #26
@eed3si9n See https://github.com/soc/directories-jvm/issues/16#issuecomment-382566836 for a discussion about JNA. AFAIC, I'm glab directories-jvm doesn't use it, so that it's more lightweight.

[2020-01-03 11:30] alexarchambault commented on #26
I was able to reproduce the steps above on a Windows 10 machine. Something really weird though: I can't reproduce that error from Ammonite.

From sbt (getting nulls):
[code]

From Ammonite (almost no nulls):
[code]

[2020-01-03 12:21] alexarchambault commented on #26
Same when loading lm-coursier-shaded from Ammonite (no nulls):
[code]

[2020-01-03 12:25] alexarchambault commented on #26
Could sbt somehow change things (in... the environment? something else?) that make powershell or the windows calls behave differently?

I tried printing the error stream of the powershell process too, and saw nothing suspicious there.

[2020-01-03 12:41] alexarchambault commented on #26
Ok, that seems to originate from [these changes](https://www.oracle.com/technetwork/java/javase/8u231-relnotes-5592812.html#JDK-8221858).

Calling `System.setProperty("jdk.lang.Process.allowAmbiguousCommands", "true")` before the calls to directories-jvm seems to fix the issue \o/

[2020-01-03 13:59] soc commented on #26
Seems to be a response to a CVE: https://bugzilla.redhat.com/show_bug.cgi?id=1777929

I can't find anything helpful on how to escape/rewrite the command though, because that would have been my first approach: The JDK doesn't like ambiguous commands anymore? Fine, I will change them to make them unambiguous.

[2020-01-03 14:01] soc commented on #26
Nevertheless, I think there is also a bug in handling the `null`s – the user shouldn't receive a path if the operation to retrieve it has failed.

[2020-01-04 20:01] szeiger commented on #26
What do you mean by something to resolve it?

[2020-01-04 23:04] soc commented on #26
@szeiger You can't use %LocalAppData% in your file/path APIs expecting that it gets turned into a real path when it hits the Win32 API.

[2020-01-05 21:04] #26 closed

[2020-01-14 10:10] szeiger commented on #26
I still don't see the problem. It's an environment variable. Use `System.getenv` to read it and you have an absolute path. Is there any situation where it would be something else?

[2020-01-14 13:17] dwijnand commented on #26
@szeiger this comment https://stackoverflow.com/questions/1198911/how-to-get-local-application-data-folder-in-java#comment4791986_1198954:

[2020-01-14 16:07] soc commented on #26
I'd also be unsure whether the Win32 API takes a modified environment variable into account (and I think it's reasonable to consider the API the source of truth).

[2020-01-18 21:41] rivashin opened #28 "Util.getWinDirs triggers an antivirus"
OS: Windows 10

A java program calling `Util.getWinDirs()` takes triggers an antivirus scan on my laptop (Avecto Defendpoint) and takes almost 2 minutes to complete.
E.g this class:
[code]
prints
[code]
Interestingly, if I save the powershell script that `ProjectDirectories` use into a file `a.ps1` and run it like this: `powershell -File a.ps1` then it completes in a couple of seconds.

[2020-01-23 16:19] soc commented on #26
Probably not: https://devblogs.microsoft.com/oldnewthing/20200115-00/?p=103329

Changing `Local_AppData` just got axed, it's likely that setting `%LocalAppData%` will have no effect, except setting `%LocalAppData%` to a place without a local app data folder.

[2020-01-23 16:31] eed3si9n opened #29 "java.io.IOException: Cannot run program "powershell.exe": CreateProcess error=2"
This was originally reported by @xshi0001 as https://github.com/sbt/sbt/issues/5386

## steps
sbt version: *1.3.4*  window10

## problem

[code]

[2020-02-07 20:12] soc commented on #29
Thanks – it feels like this may also be caused by some recent change in Windows, like https://github.com/soc/directories-jvm/issues/26. What do you think?

Are you using a patched version of the code that ships with the fixes in #26? (If yes, could you try without the patch?)

[2020-02-07 23:31] eed3si9n commented on #29
For the case of Scala team, @alexarchambault discovered that our Windows worker machine had limited `PATH` to

[code]

in https://github.com/scala/scala-dev/issues/666#issuecomment-583311138.

I'm not sure how common this practice is but considering running anything on Windows, I can see it's preferable to lock things down.

[2020-02-08 19:09] soc commented on #29
Agreed – I wonder whether effort should be made to handle gracefully (whatever that would mean) or if the exception is actually the right approach in this situation.

[2020-02-08 23:47] eed3si9n commented on #29
sbt uses a zero-dependency file watching library called File tree views  https://github.com/swoval/swoval/tree/develop/files written by @eatkins.
The JAR contains swoval-files0.dll for Windows, which is about 9kb. So maybe raw JNI is not so bad?

[2020-02-09 00:40] soc commented on #29
If someone figures out a way to reliably build and maintain such a library on all supported Windows architectures in a safe language and sends a PR, I'm more than happy to review it.

[2020-02-09 01:48] eatkins commented on #29
I don't think you need to support all architectures. The swoval file tree views library doesn't support 32 bit and falls back to jvm built-ins in that case. A similar thing could be done here with a fallback to powershell if there is no native implementation available for the runtime platform. I also wrote it in such a way that the user can choose the  implementation either at compile time through

[2020-02-09 20:57] soc commented on #29
Hi @eatkins,

thanks for writing down your thoughts! Comments inline:

I think the main difference between swoval and directories is that not supporting all architectures doesn't make things a bit slower like in your case; in my case it doubles the codepaths the program could take, it doubles the things that can go wrong and makes it harder to test things.

It also doesn't eliminate issues that co

[2020-02-09 21:35] eatkins commented on #29
I know little about Windows, but I assume that powershell is probably in a standard location on most  machines? Could the library fallback to looking for powershell in the standard location(s) if the process returns an `IOException` instead of relying on the `PATH`? I'm imagining something like (ignoring concurrency issues):

[code]

The problem for sbt is that we expect to support users on jdk 8

[2020-02-09 21:43] soc commented on #29
I think it is reasonable to try the (or a few) standard locations for Powershell, such a patch would be very welcome!

[2020-02-09 21:49] eatkins commented on #29
Cool. I am unlikely to do this myself as I don't really have the bandwidth to spin up a VM and write the patch and tests but I'm hoping someone more invested in Windows can try this idea.

[2020-02-09 22:21] alexarchambault commented on #29
[This website](https://www.powershelladmin.com/wiki/PowerShell_Executables_File_System_Locations) mentions `%SystemRoot%\system32\WindowsPowerShell\v1.0\powershell.exe`, as does [this StackOverflow comment](https://stackoverflow.com/questions/4145232/path-to-powershell-exe-v-2-0#comment89611192_4146157). That's in line with a Windows 10 install I have.

I guess we can read `SystemRoot` ourselves f

[2020-02-09 22:26] alexarchambault commented on #26
I found out that powershell accepts base64-encoded programs via [`-EncodedCommand`](https://docs.microsoft.com/fr-fr/powershell/module/Microsoft.PowerShell.Core/About/about_pwsh?view=powershell-7#-encodedcommand---e---ec), so that we don't have to fight with escaping like in https://github.com/soc/directories-jvm/pull/27.

It seems to work well (using it in another context [in coursier](https://gi

[2020-02-09 22:28] alexarchambault commented on #28
Don't know if [`-Profile`](https://docs.microsoft.com/fr-fr/powershell/module/Microsoft.PowerShell.Core/About/about_pwsh?view=powershell-7#-noprofile---nop) can help here…

[2020-02-09 22:52] soc commented on #29
Agreed. Would it be possible for you to create/test a patch that checks those two things in addition to using path?

I'd look into migrating to Base64 encoding the command as you suggested in https://github.com/soc/directories-jvm/issues/26#issuecomment-583901362.

With those two things in place, I'd cut a new release soonish if that works for you?

[2020-02-10 00:30] soc commented on #29
@alexarchambault https://github.com/soc/directories-jvm/pull/30

[2020-03-30 12:47] tgodzik opened #31 "Release new version with recent updates?"
Hi! Thanks for the great work on the library!

I noticed that there are recent fixes that might benefit some users of our project (Metals). I was wondering if it's possible to make a new release with those recent changes? I there is anything blocking maybe we can help out? Thanks!

The related issue in Metals: https://github.com/scalameta/metals-vscode/issues/208

[2020-03-31 07:33] soc commented on #31
Hi Tomasz,

I'm currently waiting for a response in https://github.com/soc/directories-jvm/pull/30, I planned to ship a new version after resolving that issue.

I'll ping people again.

Thanks,

Simon

[2020-03-31 11:19] tgodzik commented on #31
Thanks!

[2020-04-15 16:12] alexarchambault commented on #31
FYI, I [just switched](https://github.com/coursier/coursier/pull/1667) to the current master of directories-jvm in coursier, as it's a source dependency there, it seems to work fine.

[2020-04-15 17:04] alexarchambault opened #32 "Add CLI"
I think it'd be nice / convenient if directories-jvm had a CLI, to print the directories of an app, from its name, on the current OS. It could be used like
[code]

[2020-04-15 17:04] alexarchambault commented on #32
@soc If you're ok with the idea, I can give it a try if you'd like.

[2020-04-15 17:19] soc commented on #31
Great, thanks for the heads up!

[2020-04-15 17:22] soc commented on #32
@alexarchambault Could we do this as a separate module?

Such that people who only need the library can use it without dragging in CLI/parsing code? (Maybe named `directories-jvm-cli` or something?)

[2020-04-15 19:00] alexarchambault commented on #32
Yes, that's what I was thinking about.

I'm thinking about maybe using [picocli](https://picocli.info) to parse arguments, or parsing them manually if picocli ends up not doing the job.

[2020-06-05 05:47] soc commented on #31
Heads up: I just published v12.

[2020-06-05 05:47] #31 closed

[2020-06-05 05:50] soc commented on #23
Heads up: I just published v12.

[2020-06-05 05:51] soc commented on #26
Heads up: I just published v12.

[2020-06-05 05:54] soc commented on #31
@alexarchambault Do you have any idea what's happening on the CI?

[code]

Link: https://ci.appveyor.com/project/soc/directories-jvm/branch/master

[2020-06-23 13:22] dvc94ch opened #35 "archival of dirs crate"
Hi @soc and @tbu-

Can you explain why the dirs repository was archived? Projects rely on it. A call for maintainers might have been more appropriate. Can you please unarchive it?

Thank you

[2020-06-24 05:42] soc commented on #35
Sure!

[2020-06-24 05:42] #35 closed

[2020-07-15 10:48] DamianReeves commented on #28
Not using `-Noprofile` actually causes this call to fail for me as my profile loads things that output values that interfere with the proper execution of the script. I think all invocations of powershell like this should use -NoProfile as pointed out by @alexarchambault .

[2020-07-15 10:50] DamianReeves commented on #25
I believe this and other powershell related issues in this repo is related to the fact powershell is invoked without passing the `-noprofile` flag. Powershell should be invoked with the `-noprofile` flag otherwise the user's profile may interfere with the expected results of the script that is being ran.

[2020-07-15 11:54] DamianReeves opened #36 "getWinDirs should invoke powershell with the -Noprofile flag"
I have had trouble on a windows machine using coursier, metals, and other tools which have a transitive dependency on directories-jvm. After doing some tracing, I was able to discover that the issue is that `directories-jvm` invokes powershell for windows without the `-noprofile` flag.

Pulling the code down locally and simply adding the `-Noprofile` flag fixed the path resolutions which previousl

[2020-07-15 12:40] alexarchambault commented on #36
@soc I agree with @DamianReeves that `-NoProfile` should be passed to `powershell.exe`. I've been using it fine [here](https://github.com/alexarchambault/windows-ansi/blob/c303b8f22165b5491f437f4a719be26cb3589052/ps/src/main/java/io/github/alexarchambault/windowsansi/PowershellRunner.java#L20). This code runs along directories-jvm in coursier's bootstraps, no one has complained about it.

FWIW, [t

[2020-07-15 13:37] soc commented on #36
Any other args we should also use?

[2020-07-15 14:09] alexarchambault commented on #36
[`-NonInteractive`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_powershell_exe?view=powershell-5.1#-noninteractive) can't hurt, I guess. I've been using it fine in [windows-ansi](https://github.com/alexarchambault/windows-ansi/blob/c303b8f22165b5491f437f4a719be26cb3589052/ps/src/main/java/io/github/alexarchambault/windowsansi/PowershellRunner.java#L21)

[2020-07-16 07:29] tgodzik opened #37 "UTF-8 BOM prefix should be stripped from ProjectDirectories.configDir"
It looks like on Windows (though not reproducible on every machine) `configDir` comes with an UTF-8 BOM prefix.

It was suggested by @alexarchambault that we should strip it automatically similar to https://github.com/coursier/coursier/commit/fac264f7b78c945f72b06f2fcad9725afd861510

The full discussion is here https://github.com/scalameta/metals/issues/1925

Should we just do that in this case?

[2020-07-16 13:36] soc commented on #37
Although I'd argue that Microsoft needs to fix their software, yes probably. :-)

[2020-07-16 16:11] #36 closed

[2020-07-16 16:11] #37 closed

[2020-07-17 15:19] alexarchambault commented on #36
Wondering if `-ExecutionPolicy bypass` would address https://github.com/scalameta/metals/issues/1932…

[2020-08-31 19:32] Paukler commented on #29
since Powershell 6.0 which is powershell core the exe "powershell.exe" has been renamed to "pwsh.exe"
i can't even find powershell.exe on my machine anymore but i can find pwsh.exe and it should provide the same functionality

[2020-09-10 14:28] #29 closed

[2020-09-14 17:27] xxDark opened #42 "Add fallback path if powershell command fails."
See https://github.com/Col-E/Recaf/issues/278 for more info.

[2020-09-15 15:52] soc commented on #42
From where would we get the fallback path?

[2020-09-15 18:47] xxDark commented on #42
Grab the directories from env. variables I guess.
Such as: `APPDATA`, `USERPROFILE`, `LOCALAPPDATA`

[2020-11-19 13:46] fthomas opened #43 "Util.getWinDirs throws an exception if PowerShell is in Constrained Language Mode"
If PowerShell is in [Constrained Language Mode](https://devblogs.microsoft.com/powershell/powershell-constrained-language-mode/), that is `PS C:\> $ExecutionContext.SessionState.LanguageMode` prints `ConstrainedLanguage` instead of `FullLanguage`, `Util.getWinDirs` throws an exception which can be observed by running `dev.dirs.DirectoriesTest`:
[code]
The inner exception `java.io.IOException: no o

[2020-11-19 15:22] soc commented on #43
I'm not sure returning silently `null` for everything is the right fix.

[2020-11-19 15:30] soc commented on #43
@fthomas Could you try whether running `powershell -version 2`¹ changes things?

¹ https://www.ired.team/offensive-security/code-execution/powershell-constrained-language-mode-bypass

[2020-11-20 06:54] fthomas commented on #43
Yes, it does:
[code]
The tests also pass with the following change:
[code]

[2020-11-20 10:48] fthomas commented on #43
I agree. But this has been the behaviour for users whose PowerShell is in `ConstrainedLanguage` before #40 was merged and it would make sbt usable again. Another alternative would be to use env variables as fallback if PowerShell fails (https://github.com/dirs-dev/directories-jvm/issues/42#issuecomment-692904522).

[2020-11-20 15:38] eed3si9n commented on #43
There's some discussion about environment variables in this thread - https://github.com/dirs-dev/directories-jvm/issues/26#issuecomment-570288952

In my opinion, the majority of the sbt users would be happy as long as directories-jvm reliably returned _any_ value, and it doesn't really have to be Apple/Microsoft/freedesktop compliant. I mean it would be _nice_ if the value was correct in some sens

[2020-11-20 19:41] ColOfAbRiX opened #44 "Wrong path under WSL"
I've encountered this issue while using SBT and coursier and I've opened the issue there too: https://github.com/coursier/coursier/issues/1919

### Issue

I'm using coursier with SBT under a WSL environment. After updating SBT from version 1.3.13 to 1.4.1 coursier is looking at the wrong path for the cache, specifically it's using a windows path, and dependency resolution fails.

At the moment I w

[2020-11-26 09:30] kalejami commented on #43
Opened a PR #45 for using System.env before using powershell. The used GUIDs are hardcoded. Don't know if this is good enough or we should find a more generic way to do this. For many GUIDS there a no System.envs so I have to concat strings to get them. If any of the concated strings change in future WinOS versions it will break. Don't know how to prevent this

[2020-11-26 11:10] soc commented on #43
@eed3si9n The problem with environment variables on Windows is that the conventions and expectations around it are completely different then on Linux, where we use environment variables for exactly this case. (Which is the reason why they were intentionally not used from the beginning of the dirs project.)

Changing the environment variables has meaning on Linux, and changing them has an effect, a

[2020-11-27 01:14] eed3si9n commented on #43
I feel like we're talking past each other, and maybe I'm not seeing some use case in mind. I'm not suggesting that the user should set `APPDATA` or `LOCALAPPDATA` environment variable, or how other Windows applications should change their behavior. All I'm saying is that when one of environment variables is available, and it often is, we should try that first. These environment variables are docum

[2020-11-27 13:08] soc commented on #43
The problem is that when users set these environment variables, does `SHGetKnownFolderPath` act in sync with these changes?
This would be the most important thing to find out.

[2020-12-01 04:01] soc commented on #42
I don't think the environment variables are wired up to the `SHGetKnownFolderPath`, so using them would mean we would be potentially out of sync with what actual applications see.

[2020-12-18 12:25] fthomas commented on #43
It doesn't look like it. I tried several variations of
[code]
in the PowerShell and none of the environment variables I tried changed the return value of `GetFolderPath`. This [C# API doc for `GetFolderPath`](https://docs.microsoft.com/en-us/dotnet/api/system.environment.getfolderpath?view=net-5.0) also doesn't mention that its output could be changed by setting environment variables and this (old

[2020-12-18 12:53] soc commented on #43
@fthomas Yes, my plan is to use both #46 and the powershell version downgrade.
I'll ship a new release soon.

[2020-12-18 13:13] soc commented on #43
@fthomas Thanks a lot trying out env vars vs. API, that was really a great help!

[2020-12-18 13:58] soc commented on #42
I have released versions 22 and 23 which hopefully address this issue.

Version 22 make the library not throw an exception if there is an issue, and version 23 tries to be a bit sneakier trying to retrieve the values. Use 23, but if there are issues with the approach you can fall back to 22.

[2020-12-18 13:58] #42 closed

[2020-12-18 13:59] soc commented on #43
I have released versions 22 and 23 which hopefully address this issue.

Version 22 make the library not throw an exception if there is an issue, and version 23 tries to be a bit sneakier trying to retrieve the values. Use 23, but if there are issues with the approach you can fall back to 22, while we have a new look at the problem.

[2020-12-18 16:03] #43 closed

[2020-12-23 13:43] fthomas commented on #43
Many thanks for the releases, @soc. I opened https://github.com/coursier/coursier/pull/1938 to get the fix into Coursier and then sbt.

[2021-01-04 07:06] fthomas commented on #43
FTR: sbt 1.4.6 is now using directories-jvm 23 via lm-coursier 2.0.5 / Coursier 2.0.8 and the fix with dowgrading the PowerShell version (https://github.com/dirs-dev/directories-jvm/commit/f976091da250fe3a85ca48df6041cf9852f79a09) seems to be working:
[code]
I can finally enjoy sbt 1.4 on Windows. Thanks @soc, @kalejami, @eed3si9n and @alexarchambault for fixing this issue and getting it into sbt!

[2021-02-01 14:59] snlykf opened #47 "Invalid path with leading 'null' on Windows 10"
Latest version 23 creates invalid paths with leading `null\` on Window 10.

I encountered this when updating SBT / coursier and dependencies where downloaded to a `null` dir inside my project.

### Actual

[code]

### Expected
[code]

### Environment
**OS:** Windows 10 1903
**JVM:** AdoptOpenJDK 1.8.0_222 / 1.8.0_282

[2021-02-01 15:44] soc commented on #47
Thanks, I will look into this.

[2021-02-01 15:58] snlykf commented on #47
Maybe duplicate of / related to https://github.com/dirs-dev/directories-jvm/issues/26

Looked at the differences between 22 and 23 (https://github.com/dirs-dev/directories-jvm/commit/f976091da250fe3a85ca48df6041cf9852f79a09): Only changes is that PowerShell is always(?) downgraded with `-version 2` parameter. However, this fails on my machine:

[code]

However, it should not need to downgrade as t

[2021-02-01 16:09] soc commented on #47
@fthomas Do you think it would make sense to check for the error message here and try without `-version 2`, or go a different route?

[2021-02-03 08:15] fthomas commented on #47
Trying without `-version 2` if Powershell fails sounds sensible to me but I would probably not check the error message because it is localized.

Btw, has somebody tried using [JNA](https://github.com/java-native-access/jna/blob/d033fb429fb2b990ef2fde21772b1dee5b0d91ee/contrib/platform/src/com/sun/jna/platform/win32/Shell32.java#L143) instead of shelling out to Powershell. Maybe that is easier than

[2021-02-03 12:43] soc commented on #47
Yes, was discussed in https://github.com/dirs-dev/directories-jvm/issues/16.

[2021-02-11 22:59] philwalk commented on #26
The powershell command with -EncodedCommand still fails on my Windows 10 system, due to a missing .NET Framework:

[code]
I never use powershell.

A possible workaround is to set `COURSIER_JVM_CACHE=$COURSIER_CACHE`, but I'm not sure what the ramifications of that are.   It does hide the problem.

[2021-02-12 16:35] soc commented on #26
@philwalk I don't think this related to this issue, I think this is https://github.com/dirs-dev/directories-jvm/issues/47.

[2021-02-14 21:22] philwalk commented on #26
@soc ahh, thanks, sorry for the noise!

[2021-02-15 14:54] soc commented on #26
no problem!

[2021-02-15 14:55] soc commented on #47
@fthomas Would you be willing to have a look and see if you can adjust the code to try it both with and without `-version 2`?

[2021-02-16 13:00] fthomas commented on #47
I can't make any commitments right now, I'm already swamped with other work.

But I'd be also OK with reverting f976091da250fe3a85ca48df6041cf9852f79a09 (which should fix this issue) since 4e5488c74fe39a2262ea22802e164d4c69d82217 was already enough to fix #43.

[2021-02-16 15:31] soc commented on #47
Ok, thank you!

[2021-02-26 06:22] phongngtuan commented on #47
Hi, may I give this a try?

[2021-02-26 14:01] soc commented on #47
@phongngtuan Thanks for the offer! I think I'd first try reverting f976091 as @fthomas mentioned – though it might also be interesting to try extracting the info both with and without `-version 2` as mentioned above.

I think that was the complaint that was addressed in 4e5488c?

[2021-03-15 20:01] nartamonov commented on #47
It seems that all recent versions of SBT since 1.4.6 are vulnerable to the bug, see sbt/sbt#5206.

Reverting f976091 resolves this issue on my computer with Windows 10.

[2021-03-21 02:31] soc commented on #47
Could you check whether version 24 fixes this?

[2021-03-21 02:54] soc opened #49 "Deal with Windows support being an ongoing shit show"
Many contributors have spent heroic efforts to keep Windows support working, for which I'm greatly thankful.

Though it appears to me that Windows support keeps breaking time and time again – perhaps it's time to think whether a different approach could be less painful and more respectful to the time & efforts of contributors?

I'm short on actual ideas though:

- Alternative approaches that _DON'

[2021-03-21 02:56] soc commented on #25
I think this is fixed, as we use `-noprofile` now – please reopen, if this is still an issue!

[2021-03-21 02:56] #25 closed

[2021-03-21 04:50] phongngtuan commented on #49
pardon my ignorance but what is the issue with `System.getenv("APPDATA")` and `System.getenv("LOCALAPPDATA")` ?

[2021-03-21 11:18] alexarchambault commented on #49
I think embedding a tiny JNI library could work too. I had started toying with that some time ago. IIRC, the main hurdle I ran into was charset conversions, from what [`SHGetKnownFolderPath`](https://docs.microsoft.com/en-us/windows/win32/api/shlobj_core/nf-shlobj_core-shgetknownfolderpath) gives us, to something JNI accepts as a string.

[2021-03-21 11:21] alexarchambault commented on #49
@phongngtuan It's discussed below https://github.com/dirs-dev/directories-jvm/issues/26#issuecomment-570288952, these environment variables are not always in sync with the system call, which returns the true values.

[2021-03-21 16:48] alexarchambault commented on #49
About the charset issue I mentioned above, maybe [`wcstombs`](https://docs.microsoft.com/fr-fr/cpp/c-runtime-library/reference/wcstombs-wcstombs-l?view=msvc-160) and [`NewString`](https://docs.oracle.com/javase/8/docs/technotes/guides/jni/spec/functions.html#NewString) would just work...

[2021-03-21 17:49] eatkins commented on #49
I feel strongly that precompiled native code with fallback to shelling out is the way to go but I also understand why @soc has skepticism. My experience is that while JNI is definitely a pain and does come with risks, it can be incorporated successfully. For sbt, I wrote a library that speeds up recursive directory listing by bundling pre-compiled code for some platforms. If the library is unable

[2021-03-22 09:09] snlykf commented on #47
24 fixes it for me:

[code]

[2021-03-22 12:17] alexarchambault commented on #49
So I have [this](https://github.com/alexarchambault/jni-shell32) working. I also manually checked that it works with non-ASCII characters.

I think I'm going to try to have it built and published from GitHub actions, and have [`ProjectDirectories.fromPath`](https://github.com/dirs-dev/directories-jvm/blob/006ca7ff804ca48f692d59a7fce8599f8a1eadfc/src/main/java/dev/dirs/ProjectDirectories.java#L225)

[2021-03-22 12:45] nartamonov commented on #47
24 works for me:

[code]

[2021-03-22 13:38] soc commented on #47
Thanks @snlykf and @nartamonov for checking, and thanks to @phongngtuan for fixing it!

Closing this, let me know if you experience this again!

[2021-03-22 13:38] #47 closed

[2021-03-22 13:42] alexarchambault commented on #49
For context, I think the JNI / Powershell approach is slightly better than just reading env vars, but more importantly, it should be useful in other places in coursier ([terminal-related stuff](https://github.com/alexarchambault/windows-ansi), [Windows env var stuff](https://github.com/coursier/coursier/blob/ce251d0288bf029e4eeb8700e8990178559a005d/modules/env/src/main/scala/coursier/env/WindowsEn

[2021-03-22 13:51] soc commented on #49
@eatkins My main concern is that I'd really like to avoid having yet-another layer on top of the already existing layers that can fail (or not apply due to obscure reasons/on obscure platforms).
I'd like to have something that reduces the existing complexity while increasing the reliability.

I'll be migrating this library to the new Java FFI as soon as Project Panama ships, but in the meantime I

[2021-07-14 13:33] bluefireoly opened #51 "Evaluated path inside PowerShell has a leading null"
When running the program using [PowerShell 7](https://github.com/PowerShell/PowerShell), version 26 of directories-jvm returns a path with leading null.

Output in PowerShell:
[code]

Expected output (which you get for example in the default system embedded PowerShell or using cmd):
[code]

[2021-07-14 13:56] soc commented on #51
Thanks for the report, @bluefireoly! Could you check whether the problem also exists on PowerShell 6?

Also, the non-null paths returned in your output look weird too. What was the input you used for `ProjectDirectories.from`?

[2021-07-14 14:21] bluefireoly commented on #51
foo is the corp and bar is the app
[code]

[2021-08-27 21:06] zkat opened #52 ".NET version?"
Hi! I just finished an initial port of this library to .NET. I would like to donate it (and offer continued maintenance) to the dirs-dev org. Is that something you might be interested in?

[2021-09-01 20:39] zkat commented on #52
Thanks! Sorry for the delay. Everything is pushed to `directories-net` now, and I've published it under my nuget account as `Directories.Net`. Please let me know if you'd like me to transfer control of the package to some other account :)

[2021-09-01 20:39] #52 closed

[2021-09-02 09:30] soc commented on #52
No worries, @zkat! I had a hand OP, so I currently can't move the hand too much, but I'll review the code and think about a proper nuget account as soon as possible. Thanks!

[2022-04-11 20:19] marq opened #55 "ProjectDirectories.from hangs on Windows 10 when LIB environment variable contains non-existent directory"
Version 26

[code]

It's stuck on a powershell call:
`C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe -version 2 -NoProfile -EncodedCommand JgAg...`

When I try running it manually it fails:
[code]

[2022-04-12 00:53] soc commented on #55
Hi @marq,

what are you trying to do with the `LIB` env?

Thanks,

Simon

[2022-04-12 09:00] marq commented on #55
Hi @soc,

I'm not doing anything with it. It was set by something else (I think one of the paths was set by Visual Studio).

I was just trying to find out why Metals in VS Code didn't work on my machine and this led me to the problem I've described.

[2022-04-12 16:21] soc commented on #55
Interesting, thanks!

[2022-04-26 11:06] soc commented on #49
@RayKoopa welcome!

[2022-04-26 11:47] RayKoopa commented on #49
Hey there, crossposting my thoughts this. The scenario here seems to be to remove the PowerShell invocation as it is causing trouble. These options seem viable, which you've mentioned in part above:

- Push the `SHGetKnownFolderPath` call from your PS script into a .NET assembly and call the assembly instead.
- Use JNI / C directly to do the `SHGetKnownFolderPath` call in there.
- Find a PowerShel

[2022-04-26 15:55] RayKoopa commented on #49
Hmm I see. I hoped there would be some kind of interoperability offered by JNI that would not require to compile raw C and introduce lots of complexity to your project; kinda like P/Invoke in .NET. Maybe you can find another way; effectively you "just" need to do two standard C calls made by _something_ playing together better with Java, and convert the returned memory buffer storing a 0-terminate

[2022-04-26 16:31] eatkins commented on #49
@soc your concerns about maintainability are quite well warranted and I am sympathetic. I can't remember if this came up on other threads but is there a reason why JNA is not considered an option here? I personally kind of hate JNA and would rather just write a JNI library but I think it may alleviate the cross compilation problem. Adding a dependency would be unfortunate but sbt, which I'm guessi

[2022-04-27 15:42] eatkins commented on #49
I am going to unsubscribe from this thread. Every time there is a comment, it is like a mini ddos attack on my brain. It is frustrating that from my perspective the only viable solution is being rejected for ideological reasons. This is a disservice to the downstream users of the library who are affected, If someone needs help implementing a jni solution, I have experience and would be happy to of

[2022-04-27 19:22] soc commented on #49
Sadly JNA is rather big, it would turn this < 10kB library into a 3.7MB one. :-/ (see https://github.com/dirs-dev/directories-jvm/issues/16)

[2022-06-15 15:45] alexarchambault commented on #49
If ever people stumble upon this issue, this is addressed in coursier by:
- using [coursier/directories-jvm](https://github.com/coursier/directories-jvm), that has https://github.com/coursier/directories-jvm/commit/7acadf2ab9a4ce306d840d652cdb77fade11b94b
- using [coursier/jni-utils](https://github.com/coursier/jni-utils) to create a `GetWinDirs` instance to be passed as fourth parameter to `Proje

[2022-06-21 23:05] soc commented on #49
@alexarchambault good work! Do you know how large the binaries turned out?

I'm experimenting with an approach in [dirs-cli](https://github.com/dirs-dev/dirs-cli-rs) and end up with 30KiB (though I still need to replace the Unix-only `File::from_raw_fd(1)` with `WriteConsole` for Windows.

Another thought is building an x86 binary and using that on both x86-64 and x86. (Not sure what's the situati